@{
    ViewBag.Title = "Home Page";
}
<style>
    div.row .card img {
        max-height: 200px;
    }
</style>
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        GroupName
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in ViewBag.GroupNames)
        {
            <a class="dropdown-item" href='@Url.Action("Index", "Home", new { groupName = item })'>@item</a>
        }
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            var groupName = '@Context.Request.Query["groupName"]';
            GetVideos(0, groupName);
        });
        function GetVideos(_pageIndex, groupName) {
            console.log({ pageIndex: _pageIndex, groupName: groupName });
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetVideos", "Home")',
                data: { pageIndex: _pageIndex, groupName: groupName },
                async: true,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var jsonData = JSON.parse(JSON.stringify(data));
                    // console.log(jsonData);
                    if (jsonData.length == 0) return;
                    $.each(jsonData, function (key, value) {
                        console.log(value.index);
                        $(".row").append('<div class="col"><div class="card"> <a href="@Url.Action("Video", "Home")/' + value.index + '"> <img class="card-img-top" src="data:image/png;base64, ' + value.base64Image + '" /> <div class="card-body"> ' + value.videoName + ' </div> </a> </div></div>');
                    });
                    GetVideos(_pageIndex + 1, groupName);
                }
            });
        }
    </script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
}