<link rel="stylesheet" href="~/css/video.css">
@model DataEntities.VideoInfo
<style type="text/css">
    a {
        cursor: pointer;
    }

    img {
        width: 20px;
        height: 20px;
    }

    .rotateimg180 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
</style>
<video controls="controls" autoplay="autoplay">
    <source src="https://localhost:7000/api/online/@Model.Index" type="@Model.MineType">
</video>
<div style="width: 100%; display: inline-block; text-align: center;">
    <div>
        <a href='@Url.Action("Video", "Home", new { index = @Model.Index - 1 })' aria-label="previous">
            <img class="rotateimg180" src="~/img/arrow.png" alt="previous" />
        </a>
        <a href='@Url.Action("Video", "Home", new { index = @Model.Index + 1 })' aria-label="next">
            <img src="~/img/arrow.png" alt="next" />
        </a>
    </div>
</div>